@import url(http://fonts.googleapis.com/css?family=Aldrich);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2014, 3:52:18 PM
    Author     : felipe
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	 content: "";
	 content: none;
}

a img {
	 border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
   display: block;
}

#login_page 
{
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: #e7e0e0;
}

body 
{
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
    background-color: #e7e0e0;
}

.wrapper{
    width: 600px;
    height: 500px;
    margin-left: auto ;
    margin-right: auto ;
    padding-top: 100px;
}
.loginbox
{
    width: 300px ;
    height: 215px;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(75, 75, 75, 0.3);
    color: #ffffff;
}

#logout_page{
    width: 100%;
    margin-top:100px;
    text-align:center;
}

#logout_page h1{
    font-size:40px;
    margin-bottom:10px;
}
#logout_page h2{
    font-size:20px;
    margin-bottom:20px;
}

.loginbox h1
{
    text-align:center;
    font-size: 22pt;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #000000;
}

.loginbox #input_wrapper
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.loginbox p{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    float:left;
    margin-left: 20px;
}

.loginbox .form_input
{
    float:right;
    width: 140px;
    height: 25px;
    border-radius: 5px;
    border:100px;
    border: 1px solid black;
    margin-right:20px;   
    
}

.loginbox .button{
    font-size: 18px;
    margin-left:auto;
    margin-right:auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 1px solid black;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

.loginbox .button:hover{
    background-color: #3695d1;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

.loginbox .buttonholder{
    margin-top:20px;
    text-align: center;
}
.clearfix
{
    clear: both;
}


.loginboxerror{
    color:red;
    text-align: center;
    width: 300px ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E6E6E6;
}

.pagecontent{
    text-align:center;
    float:right;
    width:1008px;
    margin-right: 25px;
}

.pagecontent h1{
    text-align: center;
    font-size:30px;
}

.pagecontent form p{
    margin-bottom: 5px;
}

.pagecontent form .input{
    width:170px;
    height:22px;
    border:1px solid black;
    border-radius:5px;
}

.pagecontent form .submit{
    width: 180px;
    height: 40px;
    border:1px solid black;
    font-size:18px;
    border-radius:10px;
    background-color: #fefefe;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

.pagecontent form #msg_error{
    color:red;
    font-size:16px;
    margin-bottom:10px;
}

.pagecontent form #msg_assert{
    color:green;
    font-size:16px;
    margin-bottom:10px;
}
.pagecontent form #msg_yellow{
    color:yellow;
    font-size:16px;
    margin-bottom:10px;
}

.pagecontent form #form_reply_message{
    color:red;
    font-size:16px;
    margin-top:10px;
}

.pagecontent form .submit:hover{
    background-color: #23af50;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

.pagecontent form #left{
    float:left;
    margin-left: 230px;
    margin-bottom:30px;
}
.pagecontent form #right{
    float:right;
    margin-right: 230px;
    margin-bottom:30px;
}

.pagecontent h1{
    font-size:40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#sidebar{
    float:left;
    width:302px;
}

.crbox
{
    font-family: 'Aldrich', sans-serif;
    height:150px;
    width:300px;
    border-radius:0px;
    background-color: #dadada;
    float:left;
    border-right: 3px solid rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    border-bottom-right-radius: 20px;
}

.crbox h1{
    font-size:21px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.crbox #pl{
    float:left;
    font-size:16px;
    margin-left: 8px;
    text-align: center;
    margin-bottom: 5px;
}
.crbox #pr{
    float:right;
    font-size:16px;
    margin-right:8px;
    margin-bottom:8px;
}

.crbox #logout{
    float: left;
    font-size: 12pt;
    margin: 0px 0px 0px 0px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-right: 20px;
    margin-top:8px;
    color: #000000;
    border-radius:3px;
    float:right;
    background-color: #e6e6e6;
    border: 1px solid black;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    text-decoration:none;
}

.crbox #logout:hover
{
    background-color: #ff525a;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

#menu{
    height: 375px;
    width: 275px;
    background-color: #E6E6E6;
    border-right: 1px solid;
    text-align: center;
    border-style: none;
    font-family: 'Aldrich', sans-serif;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#menu .item{
    width:302px;
    height: 30px;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    background-color: #929292;
    //background-color: ;
    border-bottom: 2px solid rgba(75, 75, 75, .5);
    -webkit-transition: width .5s, background-color .5s;
    -moz-transition: width .5s, background-color .5s;
    -o-transition: width .5s, background-color .5s;
    transition: width .5s, background-color .5s;
    padding-top:15px;
}

#menu .item:hover{
    background-color: #fea632;
    width:335px;
    -webkit-transition: width .5s, background-color .5s;
    -moz-transition: width .5s, background-color .5s;
    -o-transition: width .5s, background-color .5s;
    transition: width .5s, background-color .5s;
}
#menu a, #menu a:link, #menu a:active, #menu a:visited
{
    font-size: 20px;
    text-decoration:none;
    color: #ffffff;
    text-align: center;
}

#menu a:hover{
    text-decoration: underline;
}